@import 'normalize';
@import 'variables';

.donation-wrapper {
  max-width: 375px;
  margin: 0 auto;
}

#loading-bar {
  width: 100%;
  background: grey;
}

#progress {
  width: 1%;
  height: 15px;
  background-color: orange;
  transition: width 2s;
}