@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$background: #f2f2f2;
$background--light: #ffffff;
$background--tooltip: #093254;
$background--splash: #ea7423;
$background--light-gray: #d9d9d9;
$background--success: #8bbe0f;
$background--link: #0b97d2;

$font--primary: #808080;
$font--body: #666666;
$font--dark: #000000;
$font--light: #ffffff;
$font--light-gray: #DDDDDD;

$font-family--heading: 'MontserratBold', sans-serif;
$font-family--body: 'Montserrat', serif;

@mixin for-tablet-down {
  @media (max-width: $md-bpt) { @content }
}

@mixin for-tablet-up {
  @media (min-width: $md-bpt) { @content }
}

@mixin for-mobile-only {
  @media (max-width: $sm-bpt) { @content }
}